{% extends "trade/base.html" %}

{% block title %}<title>Principal</title>{% endblock %}

{% block sidebar %}
        <div id="sideMenu">
            <h1>Portafolio acciones</h1>
            <ul class="menu">
                <li>Principal</li>
                <li><a href="{% url 'index' %}">Resumen</a></li>
                <li><a href="{% url 'stocksBalance' %}">Balance</a></li>
            </ul>
            <ul class="menu">
                <li>Cuenta</li>
                <li>Datos</li>
                <li>Alarmas</li>
            </ul>
        </div>
{% endblock %}

{% block content %}

{% endblock %}
