<!doctype html>
<html lang="en">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'stocksList/style.css' %}">

<head>
    <meta charset="utf-8">
    <title>Stocks List for {{user}} </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<div>
    <table>
        <thead>
            <tr>
                <th scope="col">Nemo</th>
                <th scope="col">Quantity</th>
                <th scope="col">purchasePrice</th>
                <th scope="col">Tax</th>
                <th scope="col">Purchase Date</th>
                <th scope="col">saleTargetPrice</th>
            </tr>
        </thead>
        <tbody>

            {% for stock in user.stocksList.all %}
            <tr>
                <td data-label="nemo_id">{{ stock.nemo }}</td>
                <td data-label="quantity">{{ stock.quantity }}</td>
                <td data-label="purchasePrice">{{ stock.purchasePrice }}</td>
                <td data-label="tax">{{ stock.tax }}</td>
                <td data-label="purchaseDate">{{ stock.purchaseDate }}</td>
                <td data-label="saleTargetPrice">{{ stock.saleTargetPrice }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</html>
